h1 {
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 3px;
  color: #f8f8ff;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #edf3f2;
}
#weatherContent {
  display: none;
}

.navbar {
  height: 150px;
}

#cityDetail,
#uvIndexColor,
li {
  color: #4d4f53;
}

#searchResults,
#cityDetail,
.card {
  background-color: #5a6c73;
}

#searchResults {
  height: 100vh;
}

#fiveDay .card {
  border: 1px solid white;
}

#searchHistory li {
  background-color: #97a6a4;
  color: #f8f8ff;
}

p {
  color: #d9b779;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Nunito", sans-serif;
}

h2,
h3,
h4,
h5 {
  color: #f8f8ff;
}
